@model LoginViewModel

@if (Model.VisibleExternalProviders.Any())
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>Autenticação Azure B2c</h2>
            </div>
            <div class="card-body">
                <ul class="list-inline">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <li class="list-inline-item">
                            <a class="btn btn-secondary"
                               asp-controller="External"
                               asp-action="Challenge"
                               asp-route-scheme="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                @provider.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
}